.product-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  @media (min-width: 768px) {
    .product-display {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 30px;
        justify-items: center;
    }
  }

  @media (max-width: 767px) {
    .product-display {
      grid-template-columns: 1fr;
    }
}